# [field: general]
Source: deb-template
Section: misc
Priority: optional
Standards-Version: 0.0.2
Maintainer: Steve Jeong <steve@how2flow.net>
Build-Depends: debhelper (>= 10)

# [field: binary packages]
# Package 1
Package: deb-template
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Packages that provide basic information
  and structure of Debian Packaging.

# Package 2
# ...
